<div class="contentHead divAlbumImages" >
  <div class="clearfix padding-top-20"></div>
  <h1>al bum anh 001</h1>
  <div class="clearfix padding-top-20"></div>
  <!-- tab -->
  <div class="row text-center">
    <div class="col-md-12">
      <div class="slideshow" style="margin: 0 auto;float: initial !important;">
        <div class="slideshow-box">
          <div id="AlbumImageCarousel" class="owl-carousel owl-item owl-theme">
            <div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div>
            <div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div><div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div><div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div><div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div><div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div><div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div><div class="item slide-item" >
              <a href="">
                <img class="img-responsive" src="//cms.sieuthidungtrien.com//Images/images/Slides/IMG_8962.jpg" alt="">
              </a>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix padding-top-20"></div>
</div>
