.divAlbumImages h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #659400;
}

.divAlbumImages .thumbAlbum img {
  border: 1px solid #757000;
  height: 175px;
  box-shadow: 4px 8px 10px #909090;
  width: auto;
  margin: auto;
}
