<div class="row" id="divGioiThieuTrangChu">
  <div class="col-md-6">
    <div class="account_tab">
      <div class="contentHead">
        <h3 class="titleBlocktab"> Giới thiệu về công ty </h3>
        <div class="dynamic-content bootstrap">
          <div class="padding-top-10"></div>
          <div class="dynamic-content bootstrap">
            <p>
              <strong>Tận tâm, nhiệt tình</strong>
            </p>

            <hr>
            <p>Tất cả chúng tôi đều ấn tượng bởi khả năng tiếp cận công việc hết sức nhanh chóng và tinh thần làm việc
              bất diệt của đội ngũ nhân sự. Chúng tôi rất vui và hài lòng vì đã hợp tác với GSM trong việc triển
              khai cho sản phẩm trên toàn quốc !&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YyBKd2_ikuE" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>