<div class="contentHead divProductDetail" itemscope="" itemtype="http://schema.org/Product">
  <div class="row" *ngIf="ProductDetail">
    <!-- checkout success -->
    <div class="col-md-9 detail_sp">
      <div class="thumb_img col-md-5">
        <div class="bigimg">
          <img id="imageView" src="{{BASE_URL_MEDIA + ProductDetail.ImageUrl}}" alt="" class="img-responsive review_img">

        </div>
        <ul class="padding-top-15" *ngIf="ListImage.length > 0">
          <li class="" *ngFor="let item1 of ListImage">
            <a href="javascript:void(0)" title="Đóng vỉ" *ngIf="item1.length > 0">
              <img itemprop="image" src="{{BASE_URL_MEDIA + item1}}" alt="" (click)="SetImageUrlView(item1)" alt="ảnh sản phẩm">
            </a>
          </li>
        </ul>
      </div>
      <div class="info col-md-7">
        <form name="fdeal" class="ng-pristine ng-valid ng-valid-min ng-valid-max">
          <h3 style="line-height: 20px">
            <span class="uppercase font-fth font-20" itemprop="name">{{ProductDetail.ProductName}}</span>
            <span class="label-orange font-14 in_stock">{{ProductDetail.Label}}</span>
            <span class="rating hide">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <span class="font-12 color-535353 padding-left-10">1 đánh giá &amp; nhận xét</span>
            </span>
          </h3>
          <div class="detail_price color-2b2b2b font-13 clearfix">
            <div class="row">
              <div class="col-md-8">
                <p>Mã SP: {{ProductDetail.ProductCode}}</p>
                <p itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND">
                  <span class="pri">Giá:
                    <span class="font-30 color-ea0000" itemprop="price" content="155000">
                      <span class="price">{{ProductDetail.Prices | number:'1.0'}}</span>
                      <span class="d">đ</span>
                    </span> / {{ProductDetail.Unit}}
                  </span>
                  <br/>
                  <span class="pri" *ngIf="ProductDetail.PricePromotion > 0">Giá khuyến mại:
                    <span class="font-30 color-ea0000" itemprop="price" content="155000">
                      <span class="price">{{ProductDetail.PricePromotion | number:'1.0'}}</span>
                      <span class="d">đ</span>
                    </span> / {{ProductDetail.Unit}}
                  </span>
                  <span class="padding-left-20" style="display: none;">Điểm tích lũy:
                    <span class="font-24">10%</span>
                  </span>
                </p>
              </div>
              <!-- <div class="col-md-4 weight-section">
                <div class="food-stick">
                  <span class="weight" itemprop="weight">530gr/<span style="font-size: 14px;">Con</span></span>
                  <p class="variance">± 50gr</p>
                </div>
              </div> -->
            </div>
          </div>
          <hr class="margin-top-1 border-000000 margin-bottom-1">
          <div class="font-13 color-2b2b2b padding-top-10 padding-bottom-10" style="line-height: 20px;">
            <p style="text-align:justify" [innerHTML]="ProductDetail.Description | subString:250 | safeHtml">
            </p>
          </div>
          <hr class="margin-top-1 border-000000 margin-bottom-1">
          <div class="padding-top-15"></div>
          <div class="row" id="food-1394">
            <div class="col-sm-6 food-details">
              <div class="row">
                <div class="form-group widt100">
                  <div class="col-sm-5">
                    <div class="m-t-sm left">Đơn vị tính</div>
                  </div>
                  <div class="col-sm-6 col-right">
                    <input id="id-unit" readonly="readonly" type="text" class="form-control center ng-pristine ng-untouched ng-valid ng-not-empty"
                      ng-init="let unit ='test'" value="{{ProductDetail.Unit}}" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group widt100">
                  <div class="col-sm-5">
                    <div class="m-t-sm left">Số lượng</div>
                  </div>
                  <div class="col-sm-6 col-right">
                    <input type="number" class="form-control amount center ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max"
                      step="0.1" #txtQuantity min="0" max="100" name="txtQuantity" [ngModel]="Quantity" (ngModelChange)="ChangeQuantity(txtQuantity)">
                  </div>
                </div>
                <div class="clearfix"></div>
                <!-- <div class="form-group widt100">
                  <div class="col-sm-5">
                    <div class="m-t-sm left">Sơ chế</div>
                  </div>
                  <div class="col-sm-6 col-right">
                    <div class="more-require-box">
                      <select name="preprocess" class="form-control preprocess-slt ng-pristine ng-untouched ng-valid ng-not-empty"
                        ng-init="init_food_process(food)" ng-model="preprocess" ng-options="pre.title as pre.title for pre in food.preprocess"
                        ng-change="change_food_image()" style="width: 112px;">
                        <option label="Món ăn" value="string:Món ăn" selected="selected">Món ăn</option>
                      </select>

                    </div>
                  </div>
                </div> -->
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="padding-top-10"></div>
              <img src="./../../../assets/images/i7.jpg" alt="">
              <span class="bold font-15 color-1e1e1e">
                Tạm tính: </span>
              <span class="font-15 color-ef3200 bold">
                <span ng-bind="calculate_money() | number:0" class="ng-binding">{{PriceTem | number:'1.0'}}</span> VNĐ</span>
            </div>
            <!-- <div class="col-sm-6 center">
              <div class="padding-top-10"></div>
              <a routerLink="/mua-nhanh/?category_id=149"><img src="./../../../assets/images/quick-shopping.png"
                  style="height: 34px;"></a><a routerLink="/combo-khuyen-nghi-theo-khau-phan/"><img src="./../../../assets/images/icon_loi_sua.png"
                  style="height: 33px;"></a>
            </div> -->
          </div>
          <div class="clearfix"></div>
          <div class="padding-top-20"></div>
          <div class="col-lg-7 col-sm-7">
            <p class="bold color-2b2b2b" style="display: none;">
              <img src="./../../../assets/images/i8.jpg" alt="" class="vertical-4 padding-right-10">Mua trên
              <span class="bold">2</span> cái được giảm thêm
              <span class="bold">10%</span>
            </p>
            <div class="padding-top-10"></div>
            <p>
              <a *ngIf="isBuy" href="javascript:void(0)" title="Đã mua" class="btn btn-green inlineblock btn-add-to-cart bought">
                <img src="./../../../assets/images/i9.png" alt="Đã mua">
                <span class="ng-binding">Đã mua</span>
              </a>

              <a *ngIf="!isBuy" href="javascript:void(0)" title="Đặt hàng" (click)="AddCart()" class="btn btn-green inlineblock btn-add-to-cart"
                ng-class="{bought: buy_label}">
                <img src="./../../../assets/images/i9.png" alt="Mua">
                <span ng-bind="show_buy_label()" class="ng-binding">Đặt hàng</span>
              </a>

              <a routerLink="/gio-hang/" class="go-to-cart">
                <span class="glyphicons glyphicons-shopping-cart x15 cart-shop"></span>
                <span class="badge ng-binding">{{NumberInCart}}</span>
              </a>
            </p>

          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <div class="padding-top-10"></div>
      <div class="detail_tab" ondragstart="return false;" onselectstart="return false;" oncontextmenu="return false;" onload="clearData();"
        onblur="clearData();">
        <ul class="nav nav-tabs" c="tablist">
          <li role="presentation" class="active" id="tab1">
            <a href="javascript:;" (click)="setActiveTab('tab1')">
              <span class="glyphicons glyphicons-info-sign" style="font-size: 20px;color: #71bb02"></span>&nbsp;
              <span>Giới thiệu</span>
            </a>
          </li>
          <li role="presentation" id="tab2">
            <a href="javascript:;" (click)="setActiveTab('tab2')">
              <span class="glyphicons glyphicons-certificate" style="font-size: 20px;color: #71bb02"></span>&nbsp;
              <span>Xuất xứ</span>
            </a>
          </li>
          <li role="presentation" id="tab3">
            <a href="javascript:;" (click)="setActiveTab('tab3')">
              <span class="glyphicons glyphicons-book-open" style="font-size: 20px;color: #71bb02"></span>&nbsp;
              <span>Kiến thức</span>
            </a>
          </li>
          <li role="presentation" id="tab4">
            <a href="javascript:;" (click)="setActiveTab('tab4')">
              <span class="glyphicons glyphicons-cube-black" style="font-size: 20px;color: #71bb02"></span>&nbsp;
              <span>Bảo quản</span>
            </a>
          </li>
          <li role="presentation" id="tab5">
            <a href="javascript:;" (click)="setActiveTab('tab5')">
              <span class="glyphicons glyphicons-magic" style="font-size: 20px;color: #71bb02"></span>&nbsp;
              <span>Mẹo vặt</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab1" itemprop="description" [innerHTML]="ProductDetail.Intro  | safeHtml">1</div>
          <div role="tabpanel" class="tab-pane " id="tab2" itemprop="description" [innerHTML]="ProductDetail.Source | safeHtml">2</div>
          <div role="tabpanel" class="tab-pane " id="tab3" itemprop="description" [innerHTML]="ProductDetail.Knowledge | safeHtml">3</div>
          <div role="tabpanel" class="tab-pane " id="tab4" itemprop="description" [innerHTML]="ProductDetail.Preservation | safeHtml">4</div>
          <div role="tabpanel" class="tab-pane " id="tab5" itemprop="description" [innerHTML]="ProductDetail.Tips | safeHtml">5</div>
        </div>
      </div>
      <app-mon-an [ProductID]="pID" [CateID]="cateID"></app-mon-an>
      <!-- tab -->
    </div>
    <app-sp-cung-loai [CateID]="cateID"></app-sp-cung-loai>
  </div>
</div>
