<!-- <app-slide></app-slide> -->

<div class="contentHead">
  <app-video-gioithieu></app-video-gioithieu>
  <!-- tab -->
  <div class="account_tab">
    <div style="padding-left: 0">
      <ul class="nav nav-tabs introduction" role="tablist">
        <li role="presentation" class="active">
          <a href="javascript:;" (click)="setActiveTab('about')" id="menu-about" aria-controls="about" role="tab" data-toggle="tab">Giới
            thiệu</a></li>
        <li role="presentation" class="">
          <a href="javascript:;" (click)="setActiveTab('tut')" id="menu-tut"  aria-controls="tut" role="tab" data-toggle="tab"
            aria-expanded="true">Hướng dẫn mua hàng</a></li>
        <li role="presentation" class="">
          <a href="javascript:;" (click)="setActiveTab('payment')" id="menu-payment"  aria-controls="payment" role="tab" data-toggle="tab"
            aria-expanded="true">Cách thức thanh
            toán</a></li>
        <li role="presentation">
          <a href="javascript:;" (click)="setActiveTab('ship')" id="menu-ship"  aria-controls="ship" role="tab" data-toggle="tab">Giao
            &amp; Nhận hàng</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="about" *ngIf="ObjGioiThieu">
          <p [innerHtml]="ObjGioiThieu.Content | replaceRegex | safeHtml"></p>
        </div>
        <div role="tabpanel" class="tab-pane" id="tut" *ngIf="ObjHuongDan">
          <p [innerHtml]="ObjHuongDan.Content | replaceRegex | safeHtml"></p>
        </div>
        <div role="tabpanel" class="tab-pane " id="payment"  *ngIf="ObjThanhToan">
          <p style="text-align:justify" [innerHtml]="ObjThanhToan.Content | replaceRegex | safeHtml"></p>
        </div>
        <div role="tabpanel" class="tab-pane" id="ship"  *ngIf="ObjGiaoNhan">
          <p [innerHtml]="ObjGiaoNhan.Content| replaceRegex  | safeHtml"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- /tab -->
</div>
