<app-slide></app-slide>

<div class="contentHead">
  <!-- tab -->
  <div class="account_tab">
    <div style="padding-left: 0">
      <ul class="nav nav-tabs introduction" role="tablist">
        <li role="presentation" class="active">
          <a href="javascript:;" (click)="setActiveTab('about')" aria-controls="about" role="tab" data-toggle="tab">Giới thiệu</a></li>
        <li role="presentation" class="">
          <a href="javascript:;" (click)="setActiveTab('tut')"aria-controls="tut" role="tab" data-toggle="tab" aria-expanded="true">Hướng dẫn mua hàng</a></li>
        <li role="presentation" class="">
          <a href="javascript:;" (click)="setActiveTab('payment')"aria-controls="payment" role="tab" data-toggle="tab" aria-expanded="true">Cách thức thanh
            toán</a></li>
        <li role="presentation">
          <a href="javascript:;" (click)="setActiveTab('ship')"aria-controls="ship" role="tab" data-toggle="tab">Giao &amp; Nhận hàng</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="about" *ngIf="ListData && ListData.length > 0">
          <h3 class="h3">GIỚI THIỆU VỀ DICHONHANH.VN</h3>
          <p><strong style="color: #397b21">Dichonhanh.vn</strong> là sản phẩm của <strong style="color: #397b21">Công
              ty Cổ phần Green Health Food</strong> - Có trụ sở tại Tầng 11, Tòa nhà Carina Plaza, Đại lộ Võ Văn Kiệt,
            Quận 8.<br><strong>Nơi nhập hàng - Sơ chế và đóng gói: Chợ đầu mối nông sản Bình Điền</strong>, Đại Lộ
            Nguyễn Văn Linh, Khu phố 6, Phường 7, Quận 8, Thành phố Hồ Chí Minh.
          </p>
          <div class="padding-top-20"></div>
          <div class="row">
            <div class="col-md-3"><img src="https://dichonhanh.r.worldssl.net/img/shopping-img.png?"></div>
            <div class="col-md-8">
              <p class="margin-bottom-20" style="margin-top: 10px">
                Ngày nay với nhịp sống hiện đại, việc chu toàn bữa ăn cho gia đình đảm bảo vi lượng dinh dưỡng,
                hợp vệ sinh luôn là trọng trách khó khăn kèm theo sự vất vả cho các bà Mẹ Nội trợ, nhất là các
                Mẹ làm công sở và văn phòng.
              </p>
              <p class="margin-bottom-20">
                Với mong muốn giúp các Bà Nội trợ vừa tiết kiệm được thời gian đi chợ, lựa chọn thực phẩm tươi
                ngon chất lượng hơn vừa đảm bảo bữa ăn ngon và đủ chất dinh dưỡng. Dichonhanh.vn ra đời mang
                đến giải pháp đi chợ hoàn toàn mới và hiện đại: <br><strong style="color: #538b00;font-size: 16px;">“Đi
                  chợ Online”</strong>.
              </p>
              <p>Kể từ giờ các mẹ không phải dầm mưa dãi nắng cho các buổi chợ phiên.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img src="https://dichonhanh.r.worldssl.net/img/services-img.png?"></div>
            <div class="col-md-8">
              <p class="margin-bottom-30" style="margin-top: 40px">
                Chỉ một cú nhấp chuột các mẹ đã có sẵn hết mọi cái từ: gia súc, gia cầm, hải sản tươi
                sống cho đến mắm muối tiêu đường gia vị, rau xanh củ quả với <strong style="color: #e57395">giá cả cạnh
                  tranh với siêu
                  thị và chợ truyền thống</strong>.
              </p>
              <p>
                Ngoài ra với hình thức đi chợ mới này các Mẹ còn có thêm được 2h mỗi ngày cho việc chăm
                chút bản thân thay vì phải mất rất nhiều thời gian đi chợ, sơ chế trước khi nấu ...
              </p>
            </div>
          </div>
          <p><strong>Dichonhanh.vn</strong> là một website mua bán thực phẩm tập trung cho căn bếp gia đình với ba tiêu
            chí rất rõ ràng:</p>
          <div class="row">
            <div class="col-md-4 box-bg shape1">
              <div class="shape-content">
                Sẽ là nơi cung cấp <strong>thực phẩm tươi hơn cả chợ truyền thống</strong> và luôn hoàn thiện
                để đạt đến điểm hoàn hảo trong quy trình cung ứng thực phẩm tươi sống đến người tiêu dùng.
              </div>
            </div>
            <div class="col-md-4 box-bg shape2">
              <div class="shape-content">
                Sẽ là nơi cung cấp kiến thức hữu ích cho những người làm nội trợ thông qua việc <strong>cung
                  cấp kiến thức chi tiết từng loại thực phẩm mở bán</strong>.
              </div>
            </div>
            <div class="col-md-4 box-bg shape3">
              <div class="shape-content">
                Sẽ là <strong>nơi cung cấp các giải pháp về dinh dưỡng</strong> nhằm giúp việc nấu nướng trở thành niềm
                vui
                của các mẹ và giúp chiều cao của người Việt Nam cải thiện nhanh hơn hiện tại.
              </div>
            </div>
          </div>
          <h3 class="h3" style="color: #538b00"><img src="https://dichonhanh.r.worldssl.net/img/stick-gr.png"> THỰC
            PHẨM CHẤT LƯỢNG, ĐẢM BẢO VSATTP</h3>
          <div class="margin-bottom-20" style="position: relative;">
            <div style="padding: 10px;background-color: #156c37;color: #fff;padding-right: 125px">
              Tất cả thực phẩm kinh doanh tại www.dichonhanh.vn
              đều có nguồn gốc xuất xứ và giấy chứng nhận An toàn thực phẩm rõ ràng.
            </div>
            <img alt="" src="https://dichonhanh.r.worldssl.net/img/vsattp.png" style="position: absolute;top: -32px;right: 0;">
          </div>
          <div>
            <p class="margin-bottom-20">Thực phẩm tươi sống, rau, củ, quả được nhập ngay tại chợ đầu mối Bình Điền, đảm
              bảo được độ tươi ngon và đã qua kiểm tra ATVSTP. Được vận chuyển tới tay các bà nội trợ bằng quy trình
              bảo quản tiêu chuẩn tốt nhất có thể.</p>
            <p></p>
            <p class="margin-bottom-20">Trong tương lai gần công ty chúng tôi sẽ xây dựng mô hình liên kết nuôi trồng
              nhằm giải quyết vấn đề nguồn gốc thực phẩm, phương pháp nuôi trồng và tiến thêm một bước trong việc nâng
              độ tươi ngon thực phẩm khi đến tay người tiêu dùng cuối.</p>
            <p></p>
            <p class="margin-bottom-20">Rất mong quý khách hàng tin tưởng và tin dùng để chúng tôi có thêm điều kiện và
              động lực cải tiến nhằm đem đến sản phẩm ngày một hoàn thiện hơn đến quý khách hàng.</p>
          </div>
          <h3 class="h3" style="color: #538b00"><img src="https://dichonhanh.r.worldssl.net/img/hand.png"> MUA HÀNG DỄ
            DÀNG VÀ THUẬN TIỆN</h3>
          <div class="row">
            <div class="col-md-6" style="padding-top: 50px;">
              Không còn phải lo dậy sớm đi chợ, lo kẹt xe, lo trễ giờ đi làm, mệt mỏi xếp hàng chờ thanh toán!
            </div>
            <div class="col-md-6"><img alt="" src="https://dichonhanh.r.worldssl.net/img/person-shop.png?" style="float: right;"></div>
          </div>
          <div class="row">
            <div class="col-md-3"><img src="https://dichonhanh.r.worldssl.net/img/mobile-shop.png" class="mobil-shop-img"></div>
            <div class="col-md-9">
              <p style="margin-top: 10px">Giờ đây, Các Mẹ nội trợ có thể đi chợ bất cứ lúc nào, ở bất cứ đâu trên máy
                tính và điện thoại di động của mình.</p>
              <div class="row" style="padding-top: 20px">
                <div class="col-sm-4  pull-right"><img src="https://dichonhanh.r.worldssl.net/img/call-shopping.png"
                    class="pull-right"></div>
                <div class="col-sm-5 pull-right" style="padding-top: 30px;">
                  Với các cô bác lớn tuổi không rành công nghệ chúng tôi có liên kết một kênh tổng đài
                  giúp đặt hàng qua điện thoại, hy vọng các dịch vụ cung ứng đặt hàng sẽ đem đến sự hài
                  lòng cho quý khách hàng !!
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="margin-bottom-10">
              Ngoài ra, với dịch vụ vận chuyển nhanh chóng và đáng tin cậy, các mẹ chỉ cần ngồi thư giãn
              tại nhà, đi tập gym, đi làm đẹp, tập thể dục, chơi với trẻ ...
            </p>
            <p>
              Thực phẩm tươi sẽ được sơ chế, đóng gói chân không theo yêu cầu sẽ được giao đến tận nơi vừa giúp
              các mẹ nấu nướng nhanh chóng, vừa giúp các mẹ bảo quản thực phẩm ăn nhiều ngày dễ dàng, sạch sẽ.
            </p>
          </div>
          <h3 class="h3" style="color: #538b00">MUA SẮM AN TOÀN VÀ ĐẢM BẢO</h3>
          <div>
            <p class="margin-bottom-10">
              Hiểu được tầm quan trọng của việc mua sắm an toàn và đảm bảo, chúng tôi cung cấp cho khách
              hàng nhiều lựa chọn thanh toán an ninh bao gồm cả thanh toán khi nhận được hàng, <strong>nghĩa là
                bạn chỉ trả tiền khi đã nhận được món hàng của mình</strong>.
            </p>
            <p class="margin-bottom-10">
              Bảo đảm về chất lượng và tính xác thực: Tất cả các Thực phẩm trên www.dichonhanh.vn
              đều đảm bảo tươi ngon, <strong>không giao hàng ôi thiu, kém chất lượng</strong>.
            </p>
            <p class="margin-bottom-10">
              Chúng tôi thực hiện quy trình nhập thực phẩm và xử lý thực phẩm trong khoảng
              thời gian 10h tối đến 4h sáng mỗi ngày. Cùng thời điểm này việc sơ chế và bảo quản
              thực phẩm cũng được thực hiện cùng lúc.
            </p>
            <p class="margin-bottom-10">
              Quy trình này cho thấy thực phẩm đã được chọn lựa, xử lý, bảo quản trước thời gian mà
              nó được đưa đến chợ nhỏ để tiêu thụ nên thực phẩm cung cấp từ dichonhanh.vn luôn sẽ là
              lựa chọn tốt nhất nhé các mẹ.
            </p>
            <p>
              Chỉ khác biệt ở chỗ các mẹ có thể đặt hàng bất cứ lúc nào nhưng trước 7h tối hôm nay
              và đơn hàng sẽ được giao từ 5h sáng ngày hôm sau.
            </p>
          </div>
          <h3 class="h3" style="color: #538b00">DỊCH VỤ CHĂM SÓC KHÁCH HÀNG</h3>
          <p>
            Đối với bất kỳ câu hỏi hoặc phản hồi của quý khách hàng, vui lòng liên hệ với dịch vụ khách hàng của chúng
            tôi tại đây.<br>
            Chúng tôi sẽ trả lời đến quý khách hàng trong vòng 24 giờ.
          </p>
          <div>
            Hotline : <strong>(08) 862 985 595</strong><br>
            Comment trực tiếp từ website: <span style="color: #538b00">www.dichonhanh.vn</span><br>
            Facebook: <a href="" style="color: #538b00">Đi chợ nhanh</a><br>
            Email: <a href="mailto:info@dichonhanh.vn" style="color: #538b00">info@dichonhanh.vn</a><br><span style="color: #4e8eca">Xin
              chân thành cám ơn quý khách đã bỏ thời gian tham khảo mục giới thiệu trên.</span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tut">
          <p><strong><u><span style="font-family:arial,sans-serif">Hướng dẫn mua hàng - chỉnh sửa - xóa đơn hàng</span></u></strong></p>
          <p>&nbsp;<span style="font-family:arial,sans-serif">Quý khách có thể đặt hàng trên </span><a href="http://www.dichonhanh.vn/"
              style="line-height: 115%; background-color: rgb(255, 255, 255);"><span style="color:blue; font-family:arial,sans-serif">www.dichonhanh.vn</span></a><span
              style="font-family:arial,sans-serif"> bằng các cách sau đây !</span></p>
          <p><strong>&nbsp;<span style="font-family:arial,sans-serif"><u>1. ĐẶT HÀNG TRỰC TUYẾN</u></span></strong></p>
          <p><br><span style="font-family:arial,sans-serif">Truy cập vào Website </span><a href="http://www.dichonhanh.vn/"><span
                style="color:blue; font-family:arial,sans-serif">www.dichonhanh.vn</span></a><u><span style="color:blue; font-family:arial,sans-serif"></span></u><span
              style="color:blue; font-family:arial,sans-serif">&nbsp;</span><span style="font-family:arial,sans-serif">từ
              máy tính, máy tính bảng, smartphone, apps trên di dộng …</span></p>
          <p><span style="font-family:arial,sans-serif; font-size:11.0pt"><u>Bước 1:</u> Chọn thực phẩm cần mua. Ví dụ
              Quý khách đang ở Danh mục Gia Súc, chọn mua Thịt Bò Phi Lê</span></p>
          <p>&nbsp;</p>
          <p><img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/04d04321-97ce-4343-9196-31e231b8724f.jpg"
              style="width:911px"><br>
            &nbsp;
          </p>
          <p><img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/7a5a949c-20bc-4d67-b6c4-eba8832b212d.jpg"
              style="width:911px"></p>
          <p><span style="font-family:arial,sans-serif; font-size:11.0pt"><u>Bước 2: </u>Click nút đặt hàng, sản phẩm
              sẽ đưa vào giỏ hàng. Click vào giỏ hàng để thanh toán.<br><br>
              * Ngoài ra, Quý khách có thể Click vào Nút &nbsp;&nbsp;</span><img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/2428fe2a-2811-42cd-8939-2719cc16f700.png"
              style="width:155px">để chọn thực phẩm theo từng loại Nhanh và tiện dụng.
          </p>
          <p><strong><u><span style="font-family:arial,sans-serif">Lưu ý:</span></u></strong></p>
          <p><span style="color:rgb(0, 176, 80); font-family:arial,sans-serif">* Quý khách có thể điều chỉnh số lượng
              hoặc xóa đơn hàng đã chọn.</span></p>
          <p><span style="color:rgb(0, 176, 80); font-family:arial,sans-serif">* Quý khách có thể yêu cầu thêm cho việc
              sơ chế</span><br>
            &nbsp;
          </p>
          <p>
            <img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/7290cf7d-c5a6-47ad-8920-edb6c3e0b890.jpg"
              style="width:928px"><br>
            <span style="font-family:arial,sans-serif; font-size:11.0pt">
              <!--[if !supportLineBreakNewLine]--><br>
              <!--[endif]-->
            </span>
          </p>
          <p><u>Bước 3</u><span style="font-family:arial,sans-serif">: Click vào nút Thanh toán để hoàn tất việc mua
              hàng</span></p>
          <p><span style="font-family:arial,sans-serif">Vui lòng chọn Phương thức Thanh toán, Ví dụ Quý khách chọn
              Phương thức thanh toán Khi Nhận hàng, Vui lòng Check vào như hình:</span><br><br><img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/dbbf7497-77c0-443e-bb22-c348975ffd4a.jpg"
              style="width:928px"></p>
          <p><span style="font-family:arial,sans-serif">Vui lòng Điền thông tin đặt hàng, giao hàng</span></p>
          <p><br><img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/aef8b894-35c0-4ac4-bbf0-f83e93ea9171.jpg"
              style="width:922px"></p>
          <p>&nbsp;</p>
          <p><strong><span style="font-family:arial,sans-serif">Click thanh toán để Hoàn Thành.</span></strong></p>
          <p><span style="font-family:arial,sans-serif"><strong><u>2.<span style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp;
                  </span></u></strong></span><span style="font-family:arial,sans-serif"><strong><u>ĐẶT HÀNG QUA TỔNG
                  ĐÀI&nbsp;</u></strong></span></p>
          <p>Quý khách có thể đặt hàng bằng cách gọi điện thoại đến tổng đài của chúng tôi: (08) 66 806 400 - (08) 66
            806 410</p>
          <p><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Tổng đài viên sẽ hướng
                dẫn quý khách từng bước trong việc đặt hàng, để thuận tiện cho đôi bên tốt nhất trong trường hợp này
                quý khách nên chuẩn bị danh sách các mặt hàng thực phẩm cần mua nhé !!!!</span></span></p>
          <p>&nbsp;</p>
          <p><strong><u><span style="font-family:arial,sans-serif">3.<span style="font-family:times new roman; font-size:7pt">&nbsp;
                    &nbsp;&nbsp;</span></span><span style="font-family:arial,sans-serif">ĐẶT HÀNG QUA ỨNG DỤNG DI ĐỘNG</span></u></strong></p>
          <p>Quý khách có thể tải ứng dụng&nbsp;Đi Chợ Nhanh từ CH Play (đối với các thiết bị chạy hệ điều hành
            Android) hoặc từ App Store (đối với các thiết bị chạy hệ điều hành IOS).<br>
            &nbsp;
          </p>
          <p><strong><u><span style="font-family:arial,sans-serif">4.<span style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp;
                  </span></span><span style="font-family:arial,sans-serif">CHỈNH SỬA&nbsp; ĐƠN HÀNG</span></u></strong></p>
          <p><span style="font-family:arial,sans-serif">Trường hợp quý khách đã hoàn tất đặt hàng nhưng sau đó phát
              sinh việc muốn điều chỉnh số lượng đơn hàng xin vui lòng thực hiện theo các hướng dẫn sau:</span></p>
          <p>
            <!--[if !supportLists]--><span style="font-family:arial,sans-serif">a.<span style="font-family:times new roman; font-size:7pt"><span
                  style="font-size:11px">&nbsp; &nbsp;<span style="font-size:18px"></span></span></span></span><span
              style="font-family:arial,sans-serif">Trường hợp đơn hàng phát sinh thêm</span>
          </p>
          <p><span style="font-family:arial,sans-serif">&nbsp;</span><span style="font-family:arial,sans-serif">Trường
              hợp này quý khách có thể tiến hành đặt thêm hàng bình thường và phát sinh một mã đơn hàng mới. Khi tổng
              hợp địa điểm giao hàng chúng tôi sẽ nhận ra và giao 2 đơn hàng đến cho quý khách cùng lúc.</span></p>
          <p><span style="font-family:arial,sans-serif">&nbsp;</span><span style="font-family:arial,sans-serif">b.<span
                style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp; </span></span><span style="font-family:arial,sans-serif">Trường
              hợp đơn hàng điều chỉnh giảm số lượng</span></p>
          <p><span style="font-family:arial,sans-serif">&nbsp;</span><span style="font-family:arial,sans-serif">Trường
              hợp này vì đảm bảo việc quản trị và bảo mật nên quý khách chỉ có thể chỉnh sửa đơn hàng của mình với việc
              đăng nhập tài khoản và mật khẩu của quý khách vào hệ thống dichonhanh.vn. Sau khi đăng nhập hệ thống
              thành công quý khách có thể truy xuất đơn hàng của mình để chỉnh sửa . Tuy nhiên việc chỉnh sửa này chỉ
              có thể thao tác trước </span><strong><span style="font-family:arial,sans-serif; font-size:12.0pt">17h30ph&nbsp;(5h30ph&nbsp;chiều)
                hàng ngày</span></strong><span style="font-family:arial,sans-serif">. Quá thời gian quý khách sẽ mất
              quyền điều chỉnh đơn hàng.</span></p>
          <p><span style="font-family:arial,sans-serif">&nbsp;</span><span style="font-family:arial,sans-serif">Riêng
              trường hợp quý khách đặt hàng qua tổng đài xin vui lòng gọi vào bộ phận Chăm Sóc Khách Hàng của
              DICHONHANH&nbsp; (08) 862985595 để nhờ nhân viên của công ty hỗ trợ việc này. Và tương tự như trên việc
              thay đổi này cũng phải được thực hiện trong thời gian là trước </span><strong><span style="font-family:arial,sans-serif; font-size:12.0pt">17h30ph
                (5h30ph&nbsp;chiều) hàng ngày.</span></strong><span style="font-family:arial,sans-serif"> &nbsp;Xin quý
              khách thông cảm.</span></p>
          <p>&nbsp;</p>
          <p><u>&nbsp;<strong>5<span style="font-family:arial,sans-serif">.<span style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp;
                  </span></span></strong><strong><span style="font-family:arial,sans-serif">HỦY ĐƠN HÀNG</span></strong></u></p>
          <p><strong><span style="font-family:arial,sans-serif">&nbsp; &nbsp; a. &nbsp; Đặt hàng online</span></strong></p>
          <p style="margin-left:40px"><span style="font-family:arial,sans-serif">Quý khách đăng nhập tài khoản như
              hướng dẫn ở trên và thực hiện việc xóa đơn hàng mình đã đặt. Việc hủy đơn hàng&nbsp;chỉ có thể thực hiện
              trước </span><strong><span style="font-family:arial,sans-serif; font-size:12.0pt">21h&nbsp;mỗi ngày</span></strong><span
              style="font-family:arial,sans-serif">.</span></p>
          <p><strong><span style="font-family:arial,sans-serif"><span style="font-family:times new roman; font-size:7pt">&nbsp;
                  &nbsp; &nbsp; &nbsp;&nbsp;</span>b.&nbsp; &nbsp;Đặt &nbsp;hàng qua tổng đài hay chưa đăng ký tài
                khoản trên dichonhanh.vn</span></strong></p>
          <p style="margin-left:40px"><span style="font-family:arial,sans-serif">Quý khách sẽ liên hệ bộ phận Chăm Sóc
              Khách Hàng ở số máy (08) 62 985 595 và yêu cầu nhân viên chúng tôi hỗ trợ việc hủy đơn hàng đã đặt nhé
              !!! Xin lưu ý là việc này chỉ&nbsp; thực hiện được trước </span><strong><span style="font-family:arial,sans-serif; font-size:12.0pt">17h30
                mỗi ngày</span></strong><span style="font-family:arial,sans-serif">.</span></p>
          <p><strong><u>Các kênh liên hệ với bộ phận Chăm Sóc Khách Hàng Dichonhanh.vn</u></strong></p>
          <p>
            <!--[if !supportLists]-->1.<span style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <!--[endif]-->Phone:<strong> (08) 62 985 595</strong>
          </p>
          <p>
            <!--[if !supportLists]-->2.<span style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <!--[endif]-->Hotline:
          </p>
          <p>
            <!--[if !supportLists]-->3.<span style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <!--[endif]-->Tương tác trực tiếp từ website Dichonhanh.vn qua Zopin
          </p>
          <p>
            <!--[if !supportLists]-->4.<span style="font-family:times new roman; font-size:7pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <!--[endif]-->Facebook:&nbsp; Đi chợ nhanh
          </p>
          <p>&nbsp;</p>
          <p><span style="font-family:arial,sans-serif">Xin chân thành cám ơn quý khách đã ủng hộ Dichonhanh.vn</span></p>
          <p>&nbsp;</p>
        </div>
        <div role="tabpanel" class="tab-pane " id="payment">
          <p style="text-align:justify"><span style="font-family:arial,sans-serif; font-size:inherit">Chúng tôi có 02
              hình thức thanh toán cho quý khách:&nbsp;<strong>THANH TOÁN KHI NHẬN HÀNG VÀ THANH TOÁN QUA CHUYỂN KHOẢN</strong></span></p>
          <p style="text-align:justify"><span style="font-family:arial,sans-serif; font-size:inherit">Vui lòng chọn
              Phương thức Thanh toán sau khi mua hàng, Ví dụ Quý khách chọn Phương thức thanh toán Khi Nhận hàng, Vui
              lòng Check vào như hình:</span><br><br><img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/dbbf7497-77c0-443e-bb22-c348975ffd4a.jpg"
              style="font-family:inherit; font-size:inherit; font-stretch:inherit; font-style:inherit; font-variant:inherit; font-weight:inherit; line-height:inherit; margin:0px; padding:0px; width:928px"></p>
          <p style="text-align:justify"><span style="font-family:arial,sans-serif; font-size:inherit">Vui lòng Điền
              thông tin đặt hàng, giao hàng</span></p>
          <p style="text-align:justify"><br><img src="http://cdn.dichonhanh.vn/django-summernote/2015-10-03/aef8b894-35c0-4ac4-bbf0-f83e93ea9171.jpg"
              style="font-family:inherit; font-size:inherit; font-stretch:inherit; font-style:inherit; font-variant:inherit; font-weight:inherit; line-height:inherit; margin:0px; padding:0px; width:922px"></p>
          <p style="text-align:justify">&nbsp;</p>
          <p style="text-align:justify"><strong><span style="font-family:arial,sans-serif; font-size:inherit">Click
                thanh toán để Hoàn Thành.</span></strong><br>
            &nbsp;
          </p>
          <p>Quý khách lưu ý vui lòng sắp xếp thời gian có mặt để nhận hàng, kiểm tra Mã đơn hàng, sản phẩm trước khi
            giao tiền cho nhân viên.</p>
          <p>Mọi chi tiết vui lòng liên hệ với tổng đài hỗ trợ của chúng tôi:&nbsp;<span style="background-color:#f7f7f7"><strong>(08)
                62 985 595</strong></span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="ship">
          <p style="text-align:center"><strong><u><span style="font-size:18px">Chính sách giao hàng</span></u></strong><br>
            &nbsp;
          </p>
          <p><strong>I. Quy định về phí giao hàng</strong></p>
          <p>Hiện tại, <strong>Đi Chợ Nhanh</strong> đang sử dụng dịch vụ giao hàng từ công ty dịch vụ, để đảm bảo việc
            giao hàng được&nbsp;nhanh chóng và thuận lợi hơn.&nbsp;Do đó trong giao diện thanh toán đơn hàng sẽ có một
            số thay đổi, mong Quý khách lưu ý.&nbsp;</p>
          <p>&nbsp;<br>
            Khi đặt hàng, sau khi khách điền thông tin địa chỉ giao hàng (đối với khách hàng mới).&nbsp;Hoặc hệ thống
            <strong>Đi Chợ Nhanh</strong> tự động xuất từ số điện thoại hoặc email do&nbsp;khách nhập (đối với khách
            hàng đã từng mua hàng tại <strong>Đi Chợ Nhanh</strong>), giao diện thanh toán&nbsp;sẽ hiển thị phí ship
            cho đơn hàng. Như sau:&nbsp;
          </p>
          <p><img alt="" src="https://dichonhanh.r.worldssl.net/uploads/ckeditor/2017/07/24/phigiaohang.jpg"></p>
          <p><strong>TRONG ĐÓ:&nbsp;</strong></p>
          <p><strong>- Khoảng cách giao hàng:</strong>&nbsp;Là khoảng cách đo được từ kho vận chuyển của Đi Chợ Nhanh
            cho tới địa chỉ giao hàng của khách</p>
          <p><strong>- Phí giao hàng tạm tính:</strong> Được tính dựa theo Khoảng cách giao hàng</p>
          <p>(Hỗ trợ freeship 5km&nbsp;cho&nbsp;đơn hàng có giá trị từ 250.000 và&nbsp;thực hiện chia sẻ phí ship dựa
            trên giá trị đơn hàng)</p>
          <p><strong>- Giá trị free ship:</strong> Là giá trị đơn hàng được miễn phí giao hàng với khoảng cách giao
            hàng được hệ thống đo đạt&nbsp;(sau khi đã trừ khoảng cách hỗ trợ 5km). Với cùng khoảng cách giao hàng đơn
            hàng càng cao tiền trích hỗ trợ ship hàng càng lớn.&nbsp;&nbsp;</p>
          <p><strong>- Hỗ trợ thêm (KHTT):</strong> Đối với Khách hàng thường xuyên, Đi Chợ Nhanh sẽ hỗ trợ thêm 1 phần
            phí ship cho khách bằng việc tăng thêm số km hỗ trợ Free ship. &nbsp;</p>
          <p>&nbsp;</p>
          <p>❎❎ <strong>LƯU Ý:</strong><br>
            - Trường hợp Phí ship hiển thị bị lỗi N/A (như&nbsp;hình minh họa), do hệ thống không xác định được địa
            điểm giao hàng, sau khi nhận được đơn hàng, bộ phận chăm sóc khách hàng của Đi Chợ Nhanh sẽ liên hệ lại với
            khách đế thông báo phí ship.
          </p>
          <p><img alt="" src="https://dichonhanh.r.worldssl.net/uploads/ckeditor/2017/07/24/giaohangloina.jpg"></p>
          <p>Hiện tại, do quy trình bảo quản phức tạp và đơn hàng phân tán quá nhiều, giao nhận vẫn là một vấn đề nan
            giải mà<strong>&nbsp;Đi Chợ Nhanh </strong>vẫn đang tìm cách giải quyết<strong>,&nbsp;</strong>mong Quý
            khách thông cảm.</p>
          <p>Mọi thắc mắc, phản hồi xin vui lòng liên hệ số Hotline: &nbsp;(028) 62 98 55 95</p>
          <p>&nbsp;</p>
          <p><strong>II. Quy định về thời gian đặt hàng</strong></p>
          <p dir="ltr" style="margin-left:40px">Hệ thống <strong>DICHONHANH</strong> nhận đặt hàng 24/7. Tuy nhiên, do
            mô hình hoạt động là cung cấp hàng tươi sống và thực hiện việc nhập hàng -&nbsp;sơ&nbsp;chế từ lúc 1 - 2
            giờ sáng nên&nbsp;chúng tôi sẽ chốt đơn hàng và liên hệ với nhà cung cấp trước 22h.</p>
          <p dir="ltr" style="margin-left:40px"><strong>DICHONHANH</strong> khuyến khích Quý khách <strong>đặt hàng
              trước 22h mỗi ngày</strong> để chúng tôi có thời gian sắp xếp, ổn định hàng hoá, đảm bảo thời gian giao
            hàng vào ngày hôm sau.</p>
          <p style="margin-left:40px">Các đơn hàng đặt sau 22h, có thể sẽ phát sinh vấn đề ảnh hưởng đến tình trạng, số
            lượng hàng hoá, thời gian giao hàng. Chúng tôi sẽ liên hệ với Quý khách để xác nhận lại thông tin giao hàng
            có thể giao vào ngày hôm sau hoặc ngày kế tiếp theo đúng chính sách giao hàng.</p>
          <p>&nbsp;</p>
          <p><strong>III. Quy định về thời gian giao hàng</strong></p>
          <p style="margin-left:40px"><strong><u>Thời gian hoạt động giao hàng</u></strong></p>
          <p style="margin-left:40px">- &nbsp;&nbsp;Thời gian giao hàng sẽ tập trung trong hai khung giờ:</p>
          <ul style="margin-left:40px">
            <li dir="ltr">
              <p dir="ltr">Buổi sáng: 9h - 12h</p>
            </li>
            <li dir="ltr">Buổi chiều: 15h - 18h</li>
          </ul>
          <p dir="ltr" style="margin-left:40px">Sau khi nhận được đơn hàng, nhân viên chúng tôi sẽ liên hệ với Quý
            khách để xác nhận lại thời gian giao hàng phù hợp.</p>
          <p style="margin-left:40px">* Nếu Quý khách có yêu cầu về thời gian giao hàng ngoài hai khung giờ trên, đơn
            hàng sẽ được giao trong trường hợp bộ phận CSKH của <strong>DICHONHANH</strong> xác nhận có thể giao được
            vào thời gian đó.<br>
            *&nbsp;Đi chợ nhanh giao hàng từ thứ 2 - thứ 7, đơn hàng phát sinh vào thứ 7, chủ nhật sẽ được giao vào thứ
            2 tuần kế tiếp.
          </p>
          <p>&nbsp;</p>
          <p><strong><u>Lưu ý:</u></strong></p>
          <p style="margin-left:40px">- Đơn hàng tươi sống sẽ tự động hủy nếu nhân viên giao nhận không liên lạc được
            với Khách hàng tại thời điểm giao hàng (tối đa 3 cuộc gọi và mỗi lần cách nhau 5 phút).</p>
          <p style="margin-left:40px">- Đơn hàng thông thường sẽ tự động hủy nếu nhân viên giao nhận không liên lạc
            được với Khách hàng tại 2 thời điểm giao hàng (mỗi thời điểm có 2 cuộc gọi và mỗi lần cách nhau 15 phút).</p>
          <p style="margin-left:40px">- Đơn hàng sẽ tự động hủy nếu nhân viên chăm sóc khách hàng của DICHONHANH không
            liên lạc được với Khách hàng để xác nhận đơn hàng trong trường hợp cần phải liên lạc với Khách hàng (bao
            gồm 3 cuộc gọi và 1 tin nhắn SMS).</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /tab -->
</div>
