<div class="contentHead">
    <!-- menu home -->
    <div class="menuHome">
      <ul class="menu-category">
        <li><a href="/nhom-san-pham/san-pham-moi/" title="SẢN PHẨM MỚI"><strong><span class="category new_pro small"></span>
              SẢN PHẨM MỚI</strong></a></li>
        <li><a href="/nhom-san-pham/uop-san-5/" title="ƯỚP SẴN"><strong><span class="category uopsan small"></span> ƯỚP
              SẴN</strong></a></li>
        <li><a href="/nhom-san-pham/gia-suc/" title="GIA SÚC"><strong><span class="category giasuc small"></span> GIA SÚC</strong></a></li>
        <li><a href="/nhom-san-pham/gia-cam/" title="GIA CẦM"><strong><span class="category giacam small"></span> GIA CẦM</strong></a></li>
        <li><a href="/nhom-san-pham/thuy-san-nuoc-ngot/" title="THỦY SẢN NƯỚC NGỌT"><strong><span class="category hsnn small"></span>
              THỦY SẢN NƯỚC NGỌT</strong></a></li>
        <li><a href="/nhom-san-pham/hai-san-nuoc-man/" title="HẢI SẢN NƯỚC MẶN"><strong><span class="category hsnm small"></span>
              HẢI SẢN NƯỚC MẶN</strong></a></li>
        <li><a href="/nhom-san-pham/rau-cu-qua/" title="RAU - CỦ - QUẢ"><strong><span class="category raucuqua small"></span>
              RAU - CỦ - QUẢ</strong></a></li>
        <li><a href="/nhom-san-pham/trai-cay/" title="TRÁI CÂY"><strong><span class="category traicay small"></span> TRÁI
              CÂY</strong></a></li>
        <li><a href="/nhom-san-pham/gao-gia-vi/" title="GẠO - GIA VỊ"><strong><span class="category giavi small"></span>
              GẠO - GIA VỊ</strong></a></li>
        <li style="padding-left: 0;">
          <div class="btn-group" style="padding-left: 22px;display: block;">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)"><span class="glyphicons glyphicons-list"
                style="margin-right: 15px;margin-left: 5px;"></span><span>Khác</span><span class="caret"></span></a>
            <ul class="dropdown-menu" style="background: rgb(240, 240, 240); width: 228px;">
              <li><a href="/nhom-san-pham/do-chay-do-hop/" title="ĐỒ CHAY - ĐỒ HỘP"><strong><span class="category package small"></span>
                    ĐỒ CHAY - ĐỒ HỘP</strong></a></li>
              <li><a href="/nhom-san-pham/nau-san/" title="NẤU SẴN"><strong><span class="category nausan small"></span>
                    NẤU SẴN</strong></a></li>
              <li><a href="/nhom-san-pham/sua-giai-khat/" title="SỮA - GIẢI KHÁT"><strong><span class="category milk small"></span>
                    SỮA - GIẢI KHÁT</strong></a></li>
              <li><a href="/nhom-san-pham/horeca/" title="HORECA"><strong><span class="category horeca small"></span>
                    HORECA</strong></a></li>
              <li><a href="/nhom-san-pham/v-startup/" title="V-STARTUP"><strong><span class="category startup small"></span>
                    V-STARTUP</strong></a></li>
              <li><a href="/nhom-san-pham/restaurant/" title="RESTAURANT"><strong><span class="category restaurant small"></span>
                    RESTAURANT</strong></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- /menu home -->
    <!-- slideshow -->
    <div class="slideshow">
      <div class="slideshow-box">
        <div id="owl-example" class="owl-carousel owl-item owl-theme">
          <div class="item slide-item">
            <a href="">
              <img class="img-responsive" src="https://dichonhanh.r.worldssl.net/marketing/food/3bb2__banner-w1.jpg" alt=""></a>
          </div>
          <div class="item slide-item">
            <a href="">
              <img class="img-responsive" src="https://dichonhanh.r.worldssl.net/marketing/food/3bb2__banner-w1.jpg" alt=""></a>
          </div>
          <div class="item slide-item">
            <a href="">
              <img class="img-responsive" src="https://dichonhanh.r.worldssl.net/marketing/food/3bb2__banner-w1.jpg" alt=""></a>
          </div>
          <div class="item slide-item">
            <a href="">
              <img class="img-responsive" src="https://dichonhanh.r.worldssl.net/marketing/food/3bb2__banner-w1.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /slideshow -->
    <!-- quangcao -->
    <div class="bn pull-left"><a href="javascript:void(0)"><img class="img-responsive" src="https://dichonhanh.r.worldssl.net/featured/23/7787__banner-2.jpg"
          alt="Đùi gà góc tư Ngọc Hà"></a><a href="javascript:void(0)"><img class="img-responsive" src="https://dichonhanh.r.worldssl.net/featured/16/faab__banner-31.jpg"
          alt="Sườn heo miếng"></a></div>
    <!-- /quangcao -->
  </div>
  <div class="clearfix"></div>
  <div class="padding50"></div>
