<div class="contentHead">
  <!-- menu home -->
  <div class="menuHome">
    <ul class="menu-category">
      <li *ngFor="let item of ListCateProducts | FilterList:'TreeLevel' : 1">
        <a routerLink="/nhom-san-pham/nhom/5" title="SẢN PHẨM MỚI">
          <strong>
            <span class="category {{item.IconUrl}} small"></span>
            {{item.CategoryName}}
          </strong>
        </a>
      </li>

    </ul>
  </div>
  <!-- /menu home -->
  <!-- slideshow -->
  <div class="slideshow">
    <div class="slideshow-box">
      <div id="slideshowowlcarousel" class="owl-carousel owl-item owl-theme">
        <div class="item slide-item" *ngFor="let item of ListData">
          <a href="">
            <img class="img-responsive" src="{{BASE_URL_MEDIA + item.ImageUrl}}" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="bn pull-left">
    <a href="javascript:void(0)">
      <img class="img-responsive" src="https://dichonhanh.r.worldssl.net/featured/16/faab__banner-31.jpg" alt="Sườn heo miếng"></a>
    <a href="javascript:void(0)"><img class="img-responsive" src="https://dichonhanh.r.worldssl.net/featured/23/7787__banner-2.jpg"
        alt="Đùi gà góc tư Ngọc Hà"></a></div>
</div>
<div class="clearfix"></div>
<div class="padding50"></div>
