#slideshowowlcarousel.owl-carousel .slide-item img {
    height: 100% !important;
    width: 100%;
}

/* .slide-item img{
    max-width: 100%;
} */

/*
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img
{
  height: 100%;
}
@media (min-width: 1200px) {
    .slideshow {
        max-width: 974px;
        overflow: hidden;
    }
    .slideshow-box {
        width: 100%;
    }
} */
