<div class="contentHead">
    <!--  sắp xếp -->
    <div class="order_list">
       <div class="pull-right">
          <div class="total_sp">
             11 sản phẩm
          </div>
          <div class="order_ul">
             <p>Sắp xếp <i class="fa fa-angle-down"></i></p>
             <ul>
                <li><a href="?" title="">- sắp sếp -</a></li>
                <li><a href="?o=1" title="">Từ a - z</a></li>
                <li><a href="?o=-1" title="">Từ z - a</a></li>
             </ul>
          </div>
       </div>
       <div class="clearfix"></div>
    </div>
    <!--  sắp xếp -->
    <div class="category_h1">
       <h1><span>NẤU SẴN</span></h1>
    </div>
    <div class="category-tabs" style="padding: 5px 0 5px 0">
       <!-- TAB NAVIGATION -->
       <ul class="nav nav-pills nav-justified" role="tablist">
          <li class="" style="border-left: 1px solid lightgray;border-right: 1px solid lightgray;"><a href="/nhom-san-pham/nau-san/thit-2/" style="font-weight: bolder; font-family: sans-serif">Thịt</a></li>
          <li class="" style="border-right: 1px solid lightgray;"><a href="/nhom-san-pham/nau-san/chay/" style="font-weight: bolder; font-family: sans-serif">Chay</a></li>
          <li class="" style="border-right: 1px solid lightgray;"><a href="/nhom-san-pham/nau-san/ca-2/" style="font-weight: bolder; font-family: sans-serif">Cá</a></li>
       </ul>
    </div>
    <div class="block_sp first_b" style="margin-top: 0">
       <div class="owl-carousel-item container-fluid row">
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">250gr</span>
                   <p class="unit">Gói</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/bo-vien-bo-sach-minh-chanh/" title="Bò viên (Bò sạch Minh Chánh)"><img src="https://dichonhanh.r.worldssl.net/food/8066dbda/8066__bo-vien-ngoai.png" alt="Bò viên (Bò sạch Minh Chánh)"></a></div>
                <h3>Bò viên (Bò sạch Minh Chánh)</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">200,000đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block package">
                <div class="stick-note">
                   <span class="weight">400gr</span>
                   <p class="unit">Hộp</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/dau-ha-lan-annalisa/" title="Đậu Hà Lan Annalisa"><img src="https://dichonhanh.r.worldssl.net/food/0d749f74-cfd1-11e5-bfbd-8ea5e4cb10f7/dau_ha_lan.jpg" alt="Đậu Hà Lan Annalisa"></a></div>
                <h3>Đậu Hà Lan Annalisa</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">44,200đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">2 miếng</span>
                   <p class="unit">Vỉ</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/dau-hu-chien/" title="Đậu hũ chiên"><img src="https://dichonhanh.r.worldssl.net/food/9d1e6e16/9d1e__dau-hu-chien-1.jpg" alt="Đậu hũ chiên"></a></div>
                <h3>Đậu hũ chiên</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">8,000đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">220gr</span>
                   <p class="unit">Ống</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/dau-hu-lua-vina-tofu/" title="Đậu hũ lụa Vina ToFu"><img src="https://dichonhanh.r.worldssl.net/food/b4c792c4/b4c7__dau-lua-167.jpg" alt="Đậu hũ lụa Vina ToFu"></a></div>
                <h3>Đậu hũ lụa Vina ToFu</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">11,200đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">300gr</span>
                   <p class="unit">Hộp</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/dau-hu-non-vina-tofu/" title="Đậu hũ non Vina ToFu"><img src="https://dichonhanh.r.worldssl.net/food/035f58f6/035f__dau-non-167.jpg" alt="Đậu hũ non Vina ToFu"></a></div>
                <h3>Đậu hũ non Vina ToFu</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">13,600đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">2 miếng</span>
                   <p class="unit">Vỉ</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/dau-hu-tuoi/" title="Đậu hũ tươi"><img src="https://dichonhanh.r.worldssl.net/food/e7780992/e778__dau-hu-tuoi-copy.png" alt="Đậu hũ tươi"></a></div>
                <h3>Đậu hũ tươi</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">8,000đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">90gr</span>
                   <p class="unit">Cục</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/mi-can-dang-cuc/" title="Mì căn (dạng cục)"><img src="https://dichonhanh.r.worldssl.net/food/8e6595c6/8e65__mi-can-cuc-sua.png" alt="Mì căn (dạng cục)"></a></div>
                <h3>Mì căn (dạng cục)</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">4,600đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">50gr</span>
                   <p class="unit">Ống</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/mi-can-dang-ong/" title="Mì căn (dạng ống)"><img src="https://dichonhanh.r.worldssl.net/food/69d8ec28/69d8__mi-can-167.png" alt="Mì căn (dạng ống)"></a></div>
                <h3>Mì căn (dạng ống)</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">5,600đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">100gr</span>
                   <p class="unit">Miếng</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/tau-hu-ky-chien/" title="Tàu hũ ky chiên"><img src="https://dichonhanh.r.worldssl.net/food/321b892e/321b__dau-hu-ky-chien-sua.png" alt="Tàu hũ ky chiên"></a></div>
                <h3>Tàu hũ ky chiên</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">12,600đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">100gr</span>
                   <p class="unit">Miếng</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/tau-hu-ky-tuoi/" title="Tàu hũ ky tươi"><img src="https://dichonhanh.r.worldssl.net/food/cdcfcd54/cdcf__tau-hu-ky-tuoi-sua.png" alt="Tàu hũ ky tươi"></a></div>
                <h3>Tàu hũ ky tươi</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">11,200đ</span></p>
             </div>
          </div>
          <div class="i_block">
             <div class="s_block nausan">
                <div class="stick-note">
                   <span class="weight">500gr</span>
                   <p class="unit">Phần</p>
                </div>
                <div style="height: 130px;overflow: hidden;"><a href="/san-pham/cha-ca-kho-qua-ca-ot/" title="Chả cá khổ qua - cà ớt"><img src="https://dichonhanh.r.worldssl.net/food/fac143b4/fac1__ca-ot-1.jpg" alt="Chả cá khổ qua - cà ớt"></a></div>
                <h3>Chả cá khổ qua - cà ớt</h3>
                <p><span class="price_feature" style="width: 100%;text-align: center;">112,000đ</span></p>
             </div>
          </div>
       </div>
    </div>
    <div class="clearfix"></div>
    <div class="margin-top-25"></div>
 </div>