<div class="contentHead">
   <!--  sắp xếp -->
   <!-- <div class="order_list">
      <div class="pull-right">
         <div class="total_sp">
            11 sản phẩm
         </div>
         <div class="order_ul">
            <p>Sắp xếp <i class="fa fa-angle-down"></i></p>
            <ul>
               <li><a href="?" title="">- sắp sếp -</a></li>
               <li><a href="?o=1" title="">Từ a - z</a></li>
               <li><a href="?o=-1" title="">Từ z - a</a></li>
            </ul>
         </div>
      </div>
      <div class="clearfix"></div>
   </div> -->
   <!--  sắp xếp -->
   <div class="category_h1">
      <h1><span>{{CurrentCate.CategoryName}}</span></h1>
   </div>
   <div class="category-tabs" style="padding: 5px 0 5px 0">
      <!-- TAB NAVIGATION -->
      <ul class="nav nav-pills nav-justified" role="tablist">
         <li class="" style="border-left: 1px solid lightgray;border-right: 1px solid lightgray;"
         *ngFor="let item of ListCateProduct | FilterList:'ParentID':CurrentCate.CategoryID">
            <a href="javascript:;" (click)="GetListProduct(item.CategoryID)" style="font-weight: bolder; font-family: sans-serif">{{item.CategoryName}}</a>
         </li>
      </ul>
   </div>
   <div class="block_sp first_b" style="margin-top: 0">
      <div class="owl-carousel-item container-fluid row">
         <div class="i_block" *ngFor="let item of ListProduct">
            <div class="s_block">
               <!-- <div class="stick-note">
                  <span class="weight">250gr</span>
                  <p class="unit">Gói</p>
               </div> -->
               <div style="height: 130px;overflow: hidden;">
                  <div *ngIf="item.QRCode && item.QRCode.length > 0" style="position: absolute;top: 2px;left: 2px;">
                      <img alt="{{item.ProductName}}" class="lazyOwl" itemprop="image" style="width: 50px;height: 50px !important;"
                      [src]="BASE_URL_MEDIA + item.QRCode" title="{{item.ProductName}}">
                  </div>
                  <div class="stick-note" *ngIf="item.PricePromotion > 0">
                    <span class="weight">{{item.PricePromotion | number:'1.0'}}đ</span>
                    <meta content="UnitWeight" itemprop="weight">
                  </div>
                  <a [routerLink]="'/chi-tiet/'+item.ProductID" title="{{item.ProductName}}">
                     <img  style="width: 100%; height: 100%;    padding: 5px;" alt="{{item.ProductName}}" class="lazyOwl" itemprop="image" [src]="BASE_URL_MEDIA + item.ImageUrl"></a></div>
               <h3>{{item.ProductName}}</h3>
               <p>
                 <span *ngIf="item.PricePromotion > 0" class="price_feature lineThrough" style="text-align: center;width: 100%">{{item.Prices | number:'1.0'}} đ</span>
                 <span *ngIf="item.PricePromotion == 0" class="price_feature" style="text-align: center;width: 100%">{{item.Prices | number:'1.0'}} đ</span>
                </p>
            </div>
         </div>

      </div>
   </div>

   <div class="clearfix"></div>
   <div class="margin-top-25"></div>
</div>
