<div class="contentHead">
    <!-- menu home -->
    <div class="menuAbout pull-left">
        <div class="sale_item checkoutsale">
            <h3 class="uppercase" style="line-height: 32px;">Món ăn khác</h3>
            <ul id="sale_item" class="ticket_new" style="height: 1456px; overflow: hidden;">
                <li>
                    <a href="/mon-an/vit-hap-gung/" title="Vịt hấp gừng"><img src="https://dichonhanh.r.worldssl.net/dish/a17345aa/a174__vit-hap-gung.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Vịt hấp gừng</h3></a>
                </li>
                <li>
                    <a href="/mon-an/to-chim/" title="Tổ chim"><img src="https://dichonhanh.r.worldssl.net/dish/07ee35f8/to%20chim.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Tổ chim</h3></a>
                </li>
                <li>
                    <a href="/mon-an/khoai-tay-pho-mai-soi-nuong/" title="Khoai tây phô mai sợi nướng"><img src="https://dichonhanh.r.worldssl.net/dish/018f1254/018f__164.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Khoai tây phô mai sợi nướng</h3></a>
                </li>
                <li>
                    <a href="/mon-an/qua-dua-hoang-kim/" title="Quả Dưa Hoàng Kim + .."><img src="https://dichonhanh.r.worldssl.net/dish/15e1d646/dua-hoang-kim.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Quả Dưa Hoàng Kim + ..</h3></a>
                </li>
                <li>
                    <a href="/mon-an/ga-xao-toi-ot/" title="Gà xào tỏi ớt"><img src="https://dichonhanh.r.worldssl.net/dish/8dbcb1f6/8dbc__228.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Gà xào tỏi ớt</h3></a>
                </li>
                <li>
                    <a href="/mon-an/dua-kieu/" title="Dưa Kiệu"><img src="https://dichonhanh.r.worldssl.net/dish/0f86f100/dua%20kieu.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Dưa Kiệu</h3></a>
                </li>
                <li>
                    <a href="/mon-an/goi-mit-tom-thit/" title="Gỏi mít tôm thịt"><img src="https://dichonhanh.r.worldssl.net/dish/5f73ea7a/goi%20mit%2001(1).jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Gỏi mít tôm thịt</h3></a>
                </li>
                <li>
                    <a href="/mon-an/buoi-tron-kho-muc/" title="Bưởi trộn khô mực"><img src="https://dichonhanh.r.worldssl.net/dish/78ae262c/78ae__58.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Bưởi trộn khô mực</h3></a>
                </li>
                <li>
                    <a href="/mon-an/salad-bong-cai/" title="Salad bông cải"><img src="https://dichonhanh.r.worldssl.net/dish/bd44d564/bd44__179.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Salad bông cải</h3></a>
                </li>
                <li>
                    <a href="/mon-an/ca-tim-xao-thit-bam/" title="Cà tím xào thịt bằm"><img src="https://dichonhanh.r.worldssl.net/dish/b0c046ba/b0c0__125.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Cà tím xào thịt bằm</h3></a>
                </li>
                <li>
                    <a href="/mon-an/chao-cua-dong/" title="Cháo Cua Đồng"><img src="https://dichonhanh.r.worldssl.net/dish/ece45966/chao-cua-cho-be-24.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Cháo Cua Đồng</h3></a>
                </li>
                <li>
                    <a href="/mon-an/ba-roi-xong-khoi-tron-salad/" title="Ba rọi xông khói trộn salad"><img src="https://dichonhanh.r.worldssl.net/dish/88a4c2ae/88a4__120.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Ba rọi xông khói trộn salad</h3></a>
                </li>
                <li>
                    <a href="/mon-an/bo-cuon-la-cai/" title="Bò cuốn lá cải"><img src="https://dichonhanh.r.worldssl.net/dish/7a2acc1c/Lam-mon-bo-cuon-la-cai.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Bò cuốn lá cải</h3></a>
                </li>
                <li>
                    <a href="/mon-an/muc-ong-hap-hanh-toi/" title="Mực ống hấp hành tỏi"><img src="https://dichonhanh.r.worldssl.net/dish/37ad0884/37ad__61.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Mực ống hấp hành tỏi</h3></a>
                </li>
                <li>
                    <a href="/mon-an/chao-ca-chem/" title="Cháo cá chẽm"><img src="https://dichonhanh.r.worldssl.net/dish/1026c0e8/1026__chao-ca-chem.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Cháo cá chẽm</h3></a>
                </li>
                <li>
                    <a href="/mon-an/mut-gung-deo-cach-2/" title="Mứt gừng dẻo (cách 2)"><img src="https://dichonhanh.r.worldssl.net/dish/94e19232/94e1__134.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Mứt gừng dẻo (cách 2)</h3></a>
                </li>
                <li>
                    <a href="/mon-an/rau-cau-trai-cay/" title="Rau câu trái cây"><img src="https://dichonhanh.r.worldssl.net/dish/07f1ccfc/tai%20xuong%20(1).jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Rau câu trái cây</h3></a>
                </li>
                <li>
                    <a href="/mon-an/tom-hum-xao-hanh-gung/" title="Tôm hùm xào hành gừng"><img src="https://dichonhanh.r.worldssl.net/dish/be45af40/be45__130.png" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Tôm hùm xào hành gừng</h3></a>
                </li>
                <li>
                    <a href="/mon-an/sup-tom-chua/" title="Súp tôm chua"><img src="https://dichonhanh.r.worldssl.net/dish/21d398c2/Tom_Yam_Kung.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Súp tôm chua</h3></a>
                </li>
                <li>
                    <a href="/mon-an/goi-nham-voi-cua-gach-go-cong/" title="Gỏi Nham với cua gạch Gò Công"><img src="https://dichonhanh.r.worldssl.net/dish/0bb94780/nham%20go%20cong.jpg" alt="" class="img-responsive inlineblock">
                        <h3 class="normal no-underline font-13 color-232323 padding-top-15 padding-lr-10">Gỏi Nham với cua gạch Gò Công</h3></a>
                </li>
            </ul>
            <p class="action"><i class="fa fa-angle-up" id="sale_item_prev"></i><i class="fa fa-angle-down" id="sale_item_next"></i></p>
        </div>
    </div>
    <!-- /menu home -->
    <!-- tab -->
    <div class="account_tab" ondragstart="return false;" onselectstart="return false;" oncontextmenu="return false;" onload="clearData();" onblur="clearData();">
        <div class="contentHead">
            <h3 class="titleBlocktab">
		  		Thịt ba rọi ram đường
		  	</h3>
            <div class="dynamic-content bootstrap">
                <div class="padding-top-10"></div>
                <h2><img alt="" src="https://dichonhanh.r.worldssl.net/uploads/ckeditor/2018/01/15/thit-ram-7.jpg" style="height:319px; width:435px"></h2>
                <h2><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#0000ff"><strong>Nguyên liệu:</strong></span></span></span></h2>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">- &nbsp;1/2 kg thịt ba rọi.</span></span>
                </p>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">- &nbsp;50 g củ tỏi.</span></span>
                </p>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">- &nbsp;1 thìa cà phê tỏi bằm.</span></span>
                </p>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">-&nbsp;&nbsp;Ớt trái, đường, hạt nêm, nước mắm, tiêu bột.</span></span>
                </p>
                <h3><span style="color:#0000ff; font-family:Arial, Helvetica, sans-serif"><span style="font-size:14px"><strong>Cách làm Thịt ba rọi ram đường:</strong></span></span></h3>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">- &nbsp;Thịt heo rửa sạch, lau khô, thái thành từng miếng dày vừa ăn. Ướp thịt heo với 3 thìa canh đường cát, củ tỏi lột vỏ. Trộn đều rồi để trong khoảng 30 phút cho thấm gia vị.</span></span>
                </p>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">- &nbsp;Phi thơm tỏi bằm, cho thịt heo vào xào khoảng 5 phút. Khi thịt săn lại cho 4 thìa canh nước mắm, 1 thìa cà phê đường, tiêu bột vào rồi đun với lửa nhỏ. Tiếp đến cho 1/2 chén nước lọc vào tiếp tục đun với lửa nhỏ cho thịt chín và thấm gia vị.</span></span>
                </p>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">- &nbsp;Đun đến khi thịt săn lại, có màu vàng đẹp mắt là được. Ớt trái thái sợi cho vào trước khi ăn.</span></span>
                </p>
                <p><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif">- &nbsp;Thịt ba rọi ram đường dùng nóng với cơm trắng.</span></span>
                </p>
            </div>
        </div>
        <!-- /tab -->
    </div>
    <div class="clearfix padding-top-20"></div>
</div>