<!-- BLOCK ITEM -->
<div class="block">
    <h2><span><a style="color: #2c2c2c;text-decoration: none;" href="/nhom-san-pham/gia-suc/" title="GIA SÚC">GIA SÚC</a></span></h2>
    <div class="menublock">
      <div class="col-sm-6">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active" style="display: none;">
            <a href="#content-all1" aria-controls="content" role="tab" data-toggle="tab">
              <strong>
                <h2></h2>
              </strong>
            </a>
          </li>
          <li role="presentation" class="active">
            <a href="#content2" aria-controls="content2" role="tab" data-toggle="tab">
              <strong>
                <h2>THỊT HEO</h2>
              </strong>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#content-all1" aria-controls="content-all" role="tab" data-toggle="tab">All</a></li>
          <li role="presentation"><a href="#content3" aria-controls="content3" role="tab" data-toggle="tab">THỊT BÒ</a></li>
        </ul>
      </div>
      <div class="iconblock"><span class="category giasuc" onclick="active_tab('content-all1')"></span></div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in">
          <div class="owl-carousel owl-item owl-carousel-item">
            <div class="itemBlock giasuc" itemscope="" itemtype="http://schema.org/Product">
              <div class="stick-note">
                <span class="weight">500gr</span>
                <p class="unit">Đòn</p>
                <meta content="500gr/Đòn" itemprop="weight">
              </div>
              <a [routerLink]="['/product/1']"  title="Chả lụa Cô Út">
                <div style="height: 130px;overflow: hidden;"><img alt="Chả lụa Cô Út" class="lazyOwl" content="https://dichonhanh.r.worldssl.net/food/784cc542-8c15-11e5-9d86-8a69e2103e3e/luavhx.jpg"
                    itemprop="image" src="https://dichonhanh.r.worldssl.net/food/784cc542-8c15-11e5-9d86-8a69e2103e3e/luavhx.jpg"
                    style="display: inline;" title="Chả lụa Cô Út"></div>
                <h3 itemprop="name">Chả lụa Cô Út</h3>
                <p itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                  <meta content="VND" itemprop="priceCurrency">
                  <meta content="110000" itemprop="price"><span class="price_feature" style="text-align: center;width: 100%">110,000đ</span></p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <div class="stick-note">
                <span class="weight">250gr</span>
                <p class="unit">Gói</p>
                <meta itemprop="weight" content="250gr/Gói" />
                <!--           				<span class="variance">&plusmn; 20gr</span> -->
              </div>
              <a href="/san-pham/bo-vien-bo-sach-minh-chanh/" title="Bò viên (Bò sạch Minh Chánh)">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/8066dbda/8066__bo-vien-ngoai.png"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/8066dbda/8066__bo-vien-ngoai.png" alt="Bò viên (Bò sạch Minh Chánh)"
                    title="Bò viên (Bò sạch Minh Chánh)"></div>
                <h3 itemprop="name">Bò viên (Bò sạch Minh Chánh)</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="200000" />
                  <span class="price_feature" style="text-align: center;width: 100%">200,000đ</span>
                </p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <div class="stick-note">
                <span class="weight">1.1kg</span>
                <p class="unit">Bắp</p>
                <meta itemprop="weight" content="1.1kg/Bắp" />
                <!--           				<span class="variance">&plusmn; 100gr</span> -->
              </div>
              <a [routerLink]="['/product']"  title="Bắp giò heo Vissan">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/2caaa87c/2caa__bap_gio.jpg"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/2caaa87c/2caa__bap_gio.jpg" alt="Bắp giò heo Vissan"
                    title="Bắp giò heo Vissan"></div>
                <h3 itemprop="name">Bắp giò heo Vissan</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="96000" />
                  <span class="price_feature" style="text-align: center;width: 100%">96,000đ</span>
                </p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <a routerLink="/san-pham/ba-roi-rut-suon-vissan/" title="Ba rọi rút sườn Vissan">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/b024c438-6450-11e6-8005-e6540f948df1/ba_roi_rut_suon.jpg"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/b024c438-6450-11e6-8005-e6540f948df1/ba_roi_rut_suon.jpg"
                    alt="Ba rọi rút sườn Vissan" title="Ba rọi rút sườn Vissan"></div>
                <h3 itemprop="name">Ba rọi rút sườn Vissan</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="158000" />
                  <span class="price_feature" style="text-align: center;width: 100%">158,000đ</span>
                </p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <a routerLink="/san-pham/ba-roi-vissan/" title="Ba Rọi Vissan">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/0ee8ba3a/0ee8__ba-roi-vissan-chia-nho-dong-goi-0.png"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/0ee8ba3a/0ee8__ba-roi-vissan-chia-nho-dong-goi-0.png"
                    alt="Ba Rọi Vissan" title="Ba Rọi Vissan"></div>
                <h3 itemprop="name">Ba Rọi Vissan</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="112000" />
                  <span class="price_feature" style="text-align: center;width: 100%">112,000đ</span>
                </p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <div class="stick-note">
                <span class="weight">200gr</span>
                <p class="unit">Trái</p>
                <meta itemprop="weight" content="200gr/Trái" />
                <!--           				<span class="variance">&plusmn; 40gr</span> -->
              </div>
              <a routerLink="/san-pham/cat-heo-vissan/" title="Cật heo Vissan">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/81e3a924/81e3__2347__cat-heo.jpg"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/81e3a924/81e3__2347__cat-heo.jpg" alt="Cật heo Vissan"
                    title="Cật heo Vissan"></div>
                <h3 itemprop="name">Cật heo Vissan</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="146000" />
                  <span class="price_feature" style="text-align: center;width: 100%">146,000đ</span>
                </p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <div class="stick-note">
                <span class="weight">400gr</span>
                <p class="unit">Chân</p>
                <meta itemprop="weight" content="400gr/Chân" />
                <!--           				<span class="variance">&plusmn; 40gr</span> -->
              </div>
              <a routerLink="/san-pham/dung-heo-vissan/" title="Dựng heo Vissan">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/03c2dbd6/03c2__dung-heo-vissan.png"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/03c2dbd6/03c2__dung-heo-vissan.png" alt="Dựng heo Vissan"
                    title="Dựng heo Vissan"></div>
                <h3 itemprop="name">Dựng heo Vissan</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="106000" />
                  <span class="price_feature" style="text-align: center;width: 100%">106,000đ</span>
                </p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <div class="stick-note">
                <span class="weight">300gr</span>
                <p class="unit">Đuôi</p>
                <meta itemprop="weight" content="300gr/Đuôi" />
                <!--           				<span class="variance">&plusmn; 50gr</span> -->
              </div>
              <a routerLink="/san-pham/duoi-heo-vissan/" title="Đuôi heo Vissan">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/389b8b56/389b__duoi-heo-ngoai.png"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/389b8b56/389b__duoi-heo-ngoai.png" alt="Đuôi heo Vissan"
                    title="Đuôi heo Vissan"></div>
                <h3 itemprop="name">Đuôi heo Vissan</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="159000" />
                  <span class="price_feature" style="text-align: center;width: 100%">159,000đ</span>
                </p>
              </a>
            </div>
            <div class="itemBlock giasuc" itemscope itemtype="http://schema.org/Product">
              <a routerLink="/san-pham/huyet-heo-vissan/" title="Huyết heo Vissan">
                <div style="height: 130px;overflow: hidden;"><img itemprop="image" itemprop="image" content="https://dichonhanh.r.worldssl.net/food/c5662c3e/c566__huyet_heo_vissan-1.jpg"
                    class="lazyOwl" src="https://dichonhanh.r.worldssl.net/food/c5662c3e/c566__huyet_heo_vissan-1.jpg"
                    alt="Huyết heo Vissan" title="Huyết heo Vissan"></div>
                <h3 itemprop="name">Huyết heo Vissan</h3>
                <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="VND" />
                  <meta itemprop="price" content="36000" />
                  <span class="price_feature" style="text-align: center;width: 100%">36,000đ</span>
                </p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /BLOCK ITEM -->
  <div class="clearfix"></div>
  <div class="padding50"></div>
