<app-loading></app-loading>
<div class="container">
  <div class="row">
    <div class="row">
      <!-- HEADER -->
      <app-header></app-header>
      <!-- /HEADER -->
      <!-- MENU -->
      <app-menu ></app-menu>

      <!-- /MENU -->
      <!-- SLIDESHOW -->
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
<app-footer></app-footer>
<script type="text/javascript">
  function active_tab(tab) {
    $(".nav-tabs a[href='#" + tab + "']").tab('show');
  }
  $(".menu-category .dropdown-menu").width($(".menu-category").width());
  $(window).bind("resize", function () {
    // Change the width of the div
    $(".menu-category .dropdown-menu").width($(".menu-category").width());
  });
</script>
