<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="navbar">
  <a class="navbar-brand" href="">Title</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a routerLink="/product" routerLinkActive="active">Product</a>
    </li>
    <li>
      <a routerLink="/news"  routerLinkActive="active">News</a>
    </li>
    <li>
      <a routerLink="/test"  routerLinkActive="active">test</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
