<div class="contentHead" ng-init="init_search_result()">
  <div class="row">
    <div class="col-md-8">
      Kết quả tìm của <strong>{{textSearch}}</strong>&nbsp; <span style="color: #999"> | Tìm thấy
        <span class="ng-binding bold" >{{ListProduct.length}}</span> sản phẩm và <span class="ng-binding bold">{{ListDish.length}}</span> món ăn</span>

    </div>
    <div class="col-md-4"></div>
  </div>
  <hr>
  <div class="padding-top-10"></div>
  <div class="search-results">
    <div class="food-list">
      <div class="panel panel-default">
        <div class="panel-heading">Thực phẩm về <strong>{{textSearch}}</strong></div>
        <div class="panel-body">
          <div class="row" *ngIf="ListProduct.length > 0">
            <div class="col-md-2 search-item ng-scope" *ngFor="let item of ListProduct">
              <div class="itemBlock giasuc" ng-class="food._source.fields.class_css">

                <a [routerLink]="['/chi-tiet/' ,cateIDChild ,item.ProductID,item.ProductName|slugUrl]" title="Titem.ProductName">
                  <div style="height: 130px;overflow: hidden;">
                    <img style="max-width: 95%;" class="img-responsive" alt="{{item.ProductName}}" [src]="BASE_URL_MEDIA + item.ImageUrl"></div>
                  <h4 ng-bind="food._source.fields.name" class="ng-binding">{{item.ProductName}}</h4>
                  <p>
                    <span class="price_feature ng-scope" style="text-align: center;width: 100%">
                      <span ng-bind="food._source.fields.price|number" class="ng-binding">{{item.Prices |
                        number:'1.0'}}</span>vnđ</span></p>
                </a>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="ListProduct.length == 0">
              <h3>Không có kết quả</h3>
            </div>
        </div>
      </div>
    </div>
    <div class="dish-list ng-scope" ng-if="(results | filter:{'_type':'dish'}).length > 0">
      <div class="panel panel-default">
        <div class="panel-heading">Món ăn về <strong>{{textSearch}}</strong></div>
        <div class="panel-body">
          <div class="row" *ngIf="ListDish.length > 0">
            <div *ngFor="let item of ListDish" class="col-sm-6 col-md-3 ng-scope">
              <div class="thumbnail">
                <a routerLink="/mon-an/0/0/{{item.NewID}}/{{item.Title | slugUrl}}"
                title="Thịt đông" href="/mon-an/thit-dong/">
                  <img alt="{{item.Title}}" src="{{BASE_URL_MEDIA + item.ImageUrl}}"></a>
                <div class="caption">
                  <h3 class="dish-name" tooltip="" title="{{item.Title}}">
                    <a title="{{item.Title}}" class="ng-binding" routerLink="/mon-an/0/0/{{item.NewID}}/{{item.Title | slugUrl}}">{{item.Title}}</a></h3>
                  <p class="short_description_dish ng-binding is-truncated" style="overflow-wrap: break-word;"></p>
                  <p style="display: block;"><span>{{item.Description}}</span></p>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="ListDish.length  == 0">
              <div class="col-sm-6 col-md-3 ng-scope">
                  <h3>Không có kết quả</h3>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
