
.tab-content ol, .tab-content ul {
	padding-left: 40px;
}
strong {
	font-weight: bold;
}
hr {
	margin: 5px 0;
}
.dish-name {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
}
.dish-name a {
	color: #333;
}
.pagination {
	margin: 0 0 20px 0;
}
.morelink {
	display: none;
}
.shortcontent, .shortcontent span, .shortcontent p {
	line-height: 20px !important;
}
.food-list a h4 {
    padding-top: 35px;
    color: #2b2b2b;
    transition: all 0.25s ease-in-out;
}
.food-list a h4 {
    color: #71bb02;
    text-align: center;
    min-height: 70px;
    line-height: 17px;
}
.food-list span.price_feature {
    color: #2c2c2c;
    text-align: left;
    padding-left: 4px;
    font-size: 16px;
    font-weight: bold;
}
.food-list span.price {
    color: #6d6c6c;
    text-align: right;
    padding-right: 4px;
    vertical-align: bottom;
    padding-top: 2px;
    text-decoration: line-through;
}
.food-list .itemBlock a p {
    padding-top: 5px;
    overflow: hidden;
}
.food-list .itemBlock {
	padding-top: 60px;
	min-height: 290px;
	border: 1px solid #e6e6e6;
    padding-top: 60px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.food-list .itemBlock p > span {
    float: left;
    width: 50%;
}
.tip-content {
	line-height: 20px;
	white-space: pre-line;
}
