

.slideshow .owl-carousel {
  overflow: hidden;
    height: 390px;
}
.owl-dots {
  margin-top: 5px;
}
.account_tab .tab-content{
  max-height: inherit;
}
.tab-content .tab-pane .owl-carousel .owl-stage{
  min-height: 290px;
}
.disabled {
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  pointer-events: none;
  cursor: default;
  color: #afafaf;
}
.socialinfo .fa{
  padding: 5px;
}
