<div class="menu" *ngIf="!___isDetailMenu">
  <nav class="navbar navbar-default">
     <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="javascript:void(0)">Danh mục sản phẩm</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
              <li><a routerLink="/">Trang chủ</a></li>
              <li><a routerLink="/gioi-thieu/"><strong>Giới thiệu</strong></a></li>
              <li><a routerLink="/tin-tuc/"><strong>Tin tức</strong></a></li>
              <li><a routerLink="/video/"><strong>Video</strong></a></li>
              <li><a routerLink="/album-anh/"><strong>Ảnh</strong></a></li>

              <li><a routerLink="/huong-dan/"><strong>Hướng dẫn</strong></a></li>
              <li><a routerLink="/lien-he/"><strong>Liên hệ</strong></a></li>
           </ul>
        </div>
        <!-- /.navbar-collapse -->
     </div>
     <!-- /.container-fluid -->
  </nav>
</div>
<div class="breadcrum padding-top-0" *ngIf="___isDetailMenu">
  <div class="menuMain pull-left ">
     <h3 class="menu_title" (click)="showmenu()">
        Tất cả danh mục <a href="javascript:;">
          <img src="./../../../assets/images/down.png" alt="" class="showmenu"></a>
        <div class="">
           <ul class="breacrum_menu menu-category">
              <li *ngFor="let item of ListCateProducts | FilterList:'TreeLevel' : 1">
                 <a  routerLink="/nhom-san-pham/nhom/{{item.CategoryID}}/{{item.CategoryName | slugUrl}}" title="{{item.CategoryName}}">
                  <strong><span class="category {{item.IconUrl}} small">
                  </span>  {{item.CategoryName}}</strong></a>
               </li>
           </ul>
        </div>
     </h3>
  </div>
  <div class="breadcrums">
     <ul>
        <li *ngFor="let item of BreadCrumbsData; let index = index" >
           <a routerLink="{{item.Link}}" title="{{item.Name}}">{{item.Name}} </a>

           <i class="fa fa-angle-right" *ngIf="index < BreadCrumbsData.length-1"></i></li>
        <li>
     </ul>
  </div>
</div>
